

#banniere
{
    background: url("../img/bannglob.jpg");
    background-repeat: no-repeat;
    width: 700px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: solid thick antiquewhite;
    
}


#menu /* Le menu général (pas le menu déroulant)*/
{
    width: 50%; /*On donne une largeur au menu*/
    height: auto; /*On donne une longueur auto pour IE7  sinon on aura pas de menu déroulant*/
    
    list-style-type: none; /*Pour retirer les puces de la liste*/
    
    margin: 0 auto; /*Marge en automatique pour centrer le menu dans la page*/
    padding: 0; /*Marge interne à 0 pour ne pas avoir de soucis avec les différents navigateurs*/
    border: 0; /*Idem que pour les marges internes*/
    text-align: center; /*Alignement du texte dans les cellules*/
    font-size: 1.3em;/*Taille de la police des cellules*/
}

/*il faut enlever les marges automatiques des listes, et supprimer les puces devant chaque élément*/
 #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;/*supprimer les puces devant chaque élément*/
    font-size: 0;
    
	}

#menu > li{
    float: left;
    width: 25%;
	}

/*les propriétés à donner aux éléments de liste*/	
#menu  li{

    position: relative;
    font-size: 18px;
    margin: 0;
	}

#menu .menuderoulant li{
    width: 210%;
	}
	
#menu .menuderoulant .menucategorie li{
    width: 180px;
	}

/*Définissons maintenant les liens*/
#menu a {
    display: block;

    height: 30px;
    line-height: 30px;/*line-height sert à centrer verticalement le texte du lien*/
    text-align: center;
	color: #ffcccc; /*On donne une couleur à la police*/
    background-color: rgb(102,102,102); /*On donne un fond solide par sécurité pour les navigateurs qui ne gère
    pas la transparence*/
    background-color: rgba(0,0,0,0.5); /*Fond transparent pour les navigateurs qui l'acceptent'*/
	border: solid 1px #ffcccc; /*On met une bordure*/
    border-radius: 5px;/*On arrondi les angles*/
    text-decoration: none; /*On retire les sous-lignages des liens du menu*/
    box-shadow: 6px 6px 5px black;/*Une ombre sur nos cellules*/
    text-shadow: 6px 6px 2px black;/*Une ombre sur le texte de nos cellules*/
}

#menu a:hover {
	background-color: rgb(255,204,204); /*Couleur de la cellule au survol au cas ou pas de gestion de transparence*/
    background-color: rgba(255,204,204,0.5); /*Et dans le cas de gestion de transparence*/
    color: rgb(102,102,102);
    color: rgba(0,0,0,0.5); /*Couleur de la police au survol avec ou sans transparence*/
	}
	
/*Il faut enfin masquer les sous-menu par défaut*/
#menu ul {
    left: -4000px;/*on deplace l'element tres loin sur la gauche pour le cacher*/
    position: absolute/*Le positionnement absolu permet de placer chaque sous-menu par rapport à son parent.*/
}
/*Afficher les sous-menu au survol*/
#menu li:hover > ul {
    left: 0
}

#menu li li:hover > ul {
    left: 175px;
    top: 0
}